<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.runtime.remoting>
      <application>
        <client>
          <wellknown
            type="Server.Kernel, Server"
            url="tcp://localhost:8008/RemotingTest/Kernel.rem" />
        </client>
      </application>
    </system.runtime.remoting>
  <connectionStrings>
    <add name="Model" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Server.Model;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>